#toast-container {
  top     : 30px !important;
  right   : 10px !important;
  left    : auto;
  bottom  : auto;
}

#side-menu-bar{
  li{
    a{
      color: #555;
      display: block;
      padding: 10px;

      @extend .valign-wrapper;

      &:hover{
        background-color: $highlight-color;
      }

      i.material-icons {
        float: left;
        margin-left: 10px;
        margin-right: 20px;
      }
    }
  }
}

.menu-user-details {
  text-align: center;
  margin-bottom: 10px;
}

.input.field_with_errors{
  @extend .red-text, .lighten-4;
}

table.highlight {
  tbody {
    tr {
      &:hover {
        background-color: $highlight-color;
      }

      td {
        a {
          i.material-icons {
            @extend .black-text;

            &:hover {
              @extend .waves-effect, .waves-light;
              color: #555;
            }
          }
        }
      }
    }
  }
}
